<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sort and Question{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|ZCOOL+QingKe+HuangYou">
    <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
    
    <div id="lightning_labs_header">
        <h1 id="main">25ID, Lightning Labs - Won Assessment Assistant!
            <img src="static/LL_Logo.jpeg" 
            alt="25ID Lightning Labs Logo" class="beneath">
        </h1>
    </div>

    {% block content %}
    <h2 class="header" id="test">Input info. Click 'Generate' for Won bb Card!</h2>
    <section class="messages">
        {% for msg in get_flashed_messages() %}
        <div>{{ msg }}</div>
        {% endfor %}
    </section>
    <form action="/generated" method="POST">
        <h3 class="header">Candidate Name</h3>
        <label for="first">First Name </label><input type="text" placeholder="type in the Candidate's first name" name="first" id="fName"><br>
        <label for="last">Last Name </label><input type="text" placeholder="type in the Candidate's last name" name="last" id="lName"><br> 
       <hr>
        <h3 class="header">Cognitive Score</h3>
        <label for="cognitive">Cognitive Score </label><input type="text" placeholder="type in a number from 0 to 250" name="cognitive" id="cogni"><br>
        <hr>
        <h3 class="header">Motivation</h3>
        <label for="motivation">Motivation Score </label><input type="text" placeholder="type in a number from 0 to 100" name="motivation" id="moto"><br>
        <hr>
        <h3 class="header">Overall Personality Score</h3>
        <label for="overallP">Overall Personality Score </label><input type="text" placeholder="type in a number from 0 to 100" name="overallP" id="oP"><br>
        <hr>

        <h3 class="header"><i id="subHead">Personality Component Scores</i></h3>
        <label for="depend">Dependability* </label><input type="text" placeholder="type in a number from 0 to 100" name="depend" id="dep"><br>
        <label for="stress">Stress Tolerance* </label><input type="text" placeholder="type in a number from 0 to 100" name="stress" id="stress"><br>
        <label for="cooperate">Cooperation* </label><input type="text" placeholder="type in a number from 0 to 100" name="cooperate" id="coop"><br>
        <label for="social">Sociability* </label><input type="text" placeholder="type in a number from 0 to 100" name="social" id="soci"><br>
        <label for="openmind">Open-Mindedness* </label><input type="text" placeholder="type in a number from 0 to 100" name="openmind" id="open"><br>
        <hr>
        <button type="submit" onclick="javascript: 
            var first=document.getElementById('fName').value;
            var last=document.getElementById('lName').value;
            var cognitive=document.getElementById('cogni').value;
            var motivation=document.getElementById('moto').value;
            var overallP=document.getElementById('oP').value;
            var depend=document.getElementById('dep').value;
            var stress=document.getElementById('stress').value;
            var cooperate=document.getElementById('coop').value;
            var social=document.getElementById('soci').value;
            var openmind=document.getElementById('open').value;
            
            var text = `Name: ${last}, ${first} \nScores\nCognitive-${cognitive}\nMotivation-${motivation}\nOverall Personality-${overallP}\nDependability-${depend}\nStress Tolerance-${stress}\nCooperation-${cooperate}\nSociability-${social}\nOpen-Mindedness-${openmind}`;

            alert(text);

            ">
                    Generate
        </button>





    </form>
    




    <h2 class="header">Question Bank</h2> 
    <section class="questionBank">
        <ul>Dependability (Conscientiousness)</ul>
            <li><i>75 and above</i></li>
            {% for strong in question_bank_1S %}
            <li>{{ strong }}</li>
            {% endfor %}
            <li><i>25 and below</i></li>
            {% for weak in question_bank_1W %}
            <li>{{ weak }}</li>
            {% endfor %} <br>
        <ul>Stress Tolerance (Neuroticism)</ul>
            <li><i>75 and above</i></li>
            {% for strong in question_bank_2S %}
            <li>{{ strong }}</li>
            {% endfor %}
            <li><i>25 and below</i></li>
            {% for weak in question_bank_2W %}
            <li>{{ weak }}</li>
            {% endfor %} <br>
        <ul>Cooperation (Agreeableness)</ul>
            <li><i>75 and above</i></li>
            {% for strong in question_bank_3S %}
            <li>{{ strong }}</li>
            {% endfor %}
            <li><i>25 and below</i></li>
            {% for weak in question_bank_3W %}
            <li>{{ weak }}</li>
            {% endfor %} <br>
        <ul>Sociability (Extroversion)</ul>
            <li><i>75 and above</i></li>
            {% for strong in question_bank_4S %}
            <li>{{ strong }}</li>
            {% endfor %}
            <li><i>25 and below</i></li>
            {% for weak in question_bank_4W %}
            <li>{{ weak }}</li>
            {% endfor %} <br>
        <ul>Open-Mindedness (Openeness)</ul>
            <li><i>75 and above</i></li>
            {% for strong in question_bank_5S %}
            <li>{{ strong }}</li>
            {% endfor %}
            <li><i>25 and below</i></li>
            {% for weak in question_bank_5W %}
            <li>{{ weak }}</li>
            {% endfor %}
    </section>
    {% endblock %}
</body>
</html>