<!--This template inherits from the homepage-->
{% extends 'base.html' %}
{% block title %}Won BB Card{% endblock %}

{% block content %}
<button class="classification_banner">
    <b>CUI</b>
</button>

<h2 class="header">
    <img align="left"  src="static/25ID_Logo.jpeg" alt="25ID Logo" class="beneath" width="50" height="50">
    <img align="right" src="static/LL_Logo.jpeg" alt="25ID Lightning Labs Logo" class="beneath" width="50" height="50">
</h2>
<h2 class="header">
    {{ name }}
</h2>

<section class="messages" id="flash_message">
    {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
    {% endfor %}
</section>
<div class="column">
    <div class="row">
        <div class="row"> 
            <p class="scores">
                <b>Cognitive score = {{ cognitive }}</b>
                <li>Below average = candidate scored lowed than peers and may have difficulty with learning and managing problems associated with this job.
                Candidate may need additional training or longer time to complete tasks.</li>
                <li>Average = candidate scored similar to peers; candidate is likely to have the cognitive capacity to learn and problem solve effectively.</li>
                <li>Above average = candidate scored above peers; candidate is likely to learn the job quickly and be efficient in problem solving/managing tasks.</li>
            </p>
        </div>
        
        <div class="row"> 
            <p class="scores">
                <b>Motivational fit = {{ moto }}</b>
                <li>Weak = unlikely to be motivated by this type of work; interest and work preferences are not likely to align with position. 
                    Candidate is likely to lack motivation for role.</li>
                <li>Cautionary = less unlikely to be motivated by this type of work; interest and work preferences mostly do not align to position. 
                    Candidate may put in less effort into role.</li>
                <li>Moderate = more likely to be motivated by this type of work; interest and work preferences mostly align to position. 
                    Candidate is likely to have appropriate motivation and effort for role.</li>
                <li>Strong = very likely to be motivated by this type of work; interest and work preferences highly align to position. Likely 
                    to put forth high effort and be highly motivated by this type of work</li>
            </p>
        </div> 
        
        <div class="row"> 
            <p class="scores">
                <b>Personality fit = {{ person }}</b>
                <li>Weak = unlikely to have behavioral tendencies that align with position; likely lacks personality traits that contribute to job 
                    success and may be dissatisfied in this role.</li>
                <li>Cautionary = less likely to have behavioral tendencies that align with position. Have few personality traits that will contribute 
                    to job success and may be dissatisfied in their role</li>
                <li>Moderate = mostly have behavioral tendencies that align with position. Has some personality traits that will contribute to success 
                    and will likely be satisfied in their role</li>
                <li>Strong = very likely to have behavioral tendencies that align with position and has a combination of personality traits that will 
                    contribute to success. Very likely to be satisfied in role</li>
            </p>
        </div>  
    </div>

    <div class="row">
        <h3 class="header"><u>Interview questions</u></h2>
            <ol>
                <li>Tell me about the person you admire most?</li>
                <li>Have you ever had conflict with a peer and how did you resolve it?</li>
                <li>Have you ever had to choose the hard right over the easy wrong? If so, 
                    how did you navigate that decision?</li>
                <li>What are you most proud of in your professional career and personal life?</li>
            </ol>
            
                <h3 class="header">OP Psych Recommended questions</h3>
                    <section class="questions">
                        <p id="paragraph_weak_component"><i>Weak component</i></p>
                            <textarea class="question_list_textarea" id="question_output_weak">{% for question in questionsW %}{{ question }}
{% endfor %}</textarea>

                        <p id="paragraph_strong_component"><i>Strong component</i></p>    
                        <textarea class="question_list_textarea" id="question_output_strong">{% for question in questionsS %}{{ question }}
{% endfor %}</textarea>
                    </section>

                <input type="button" value="Print to PDF" id="print_button" 
                    onclick="javascript:
                        document.getElementById('print_button').remove();
                        document.getElementById('lightning_labs_header').remove();
                        document.getElementById('paragraph_weak_component').remove();
                        document.getElementById('paragraph_strong_component').remove();
                        document.getElementById('flash_message').remove();
                        window.print();">
                </input>
        </h3>
    </div>
</div>
{% endblock %}